
  <div class="container">
    <div class="title">      
      <h4>Velocity Tracking</h4>
    </div>
    <div class="first-group">    

      <h5 class="light-blue">PROJECT DETAILS</h5>

      <div class="first-row">        
        <div class="group">
          <label>Project</label>
          <select ngDefaultControl [(ngModel)]="content.project">
            <option >Select Project</option>
            <option >Apple Project</option>
            <option >Banana Project</option>
          </select>
        </div>    
        <div class="group">
          <label>Task Title</label>
          <input ngDefaultControl [(ngModel)]="content.task_title" type="text" name="" id="" placeholder="Manage User">
        </div>
      </div>
      <div class="task-escription">          
        <div class="group">
          <label>Task Description</label>
          <textarea ngDefaultControl [(ngModel)]="content.task_description" name="" id="" cols="30" rows="3" placeholder="Manage User Description"></textarea>
        </div>
      </div>
      <div class="estimate">     
        <div class="group">
          <label>Total Estimate</label>
          <input ngDefaultControl [(ngModel)]="content.total_estimate" type="text" name="" id="" placeholder="Total Estimate">
        </div>
      </div>
    </div>

    
    <div>   
      <h5 class="light-blue">EMPLOYEE DETAILS</h5>
      <div *ngFor="let e of employees;let indexOfelement=index;" class="ed-container">        
        <div class="group">
          <label>Employee</label>
          <select  ngDefaultControl [(ngModel)]="employees[indexOfelement].employee">
            <option>Jac</option>
            <option>Eric</option>
            <option>Jhon</option>
            <option>{{e.employee}}</option>
          </select>
        </div>   
        <div class="group">
          <label>Estimated Hours</label>
          <input ngDefaultControl [(ngModel)]="employees[indexOfelement].estimated_hours" type="text" name="" id="" placeholder="Estimated Hours">
        </div>
        <div class="group">
          <label>Actual Hours</label>
          <input ngDefaultControl [(ngModel)]="employees[indexOfelement].actual_hours" type="text" name="" id="" placeholder="Actual Hours">
        </div>
        <button  *ngIf="indexOfelement == 0" (click)="add()">+</button>
        <button class="btn-action" *ngIf="indexOfelement != 0" (click)="del(indexOfelement)">-</button>
      </div>
    </div>

    <div class="bts-cont">
      <button class="close" (click)="close()">CLOSE</button>
      <button class="save" (click)="save()">SAVE</button>
    </div>

  </div>
